.button-pack{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    gap: 12px;
    margin: 18px 0 0 0;
}
.button-pack a{
    background-color: #d9d9d9;
    border-radius: 16px;
    padding: 24px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    text-decoration: none;
    color: #000;
}
.button-pack a h4{
    font-size: 0.9rem;
    text-align: center;
    font-weight: normal;
}
.button-pack a img{
    width: 92px;
}